<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel ="stylesheet" href="/css/home.css">
    <title>CONTACT LIST</title>
</head>
<body>
    <h1 id="heading"><i class="far fa-address-book"></i> Contact List</h1>
    <div>
        <ul id="lst">
            <% for (let i of contacts) { %>
                
                <li class="contact">
                    <div class="flex">
                        <div><%= i.name %></div>
                        <div><%= i.phone %></div>
                    </div>
                    
                <div class="delete-button">
                    <a href="/delete-contact/?id=<%= i.id %>"&name=<%= i.name%>">
                       <i class="fas fa-window-close"></i>
                    </a>
                </div>
                </li>
                
            <% } %>
        </ul>
    </div>
    <form id="submit"action="/create-contact" method="POST" >  
        <input id="input" type="text" name="name" placeholder="Enter name" required>
        <input id="input" type="number" name="phone" placeholder="Enter phone" required>
        <button id="button" type="submit">Add Contact</button>
    </form>
    <script type="text/javascript" src="/js/home.js">

    </script>
</body>
</html>